body{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(231,75,75,0.6018557935869661) 0%, rgba(241,228,232,1) 100%);
}



/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 25px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-right: 10px;
}
.home{
    float: left;
}

.login{
    float: right;
}
/* Navbar links on mouse-over */
.login:hover {
    background-color: #ac5858;
}


/* Current/active navbar link */
.active {
    background-color: #b43c03;
}
.clear{
    margin: 2px;
    border-radius: 50%;
    border: none;
    background-color: #b43c03;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.clear:hover{
    background-color: white;
    color: #b43c03;
    border: solid #b43c03 1px;
}

#hallo{
    color: #b43c03;
}

.check{
    background-color: darkgrey;
    color: #555555;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
}

.headline{
    font-family: monospace;
    font-style: normal;
    font-stretch: normal;
}

/* VUE MAIN APP WRAPPER-KLASSEN*/
.app-wrapper{
    width: 100%;
    display: flex;
    display: -webkit-flex;
}
.wrapper-einkaufsliste{
    margin-left: 15px;
    margin-right: 15px;
    width: 50%;
    min-height: 350px;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 30px 30px 30px 30px;
    border: solid black;
}
.wrapper-pinnwand{
    margin-left: 15px;
    margin-right: 15px;
width: 50%;
    min-height: 350px;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 30px 30px 30px 30px;
    border: solid black;


}





