<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
    <title>Einkaufsliste erstellen!</title>
</head>
<body>
<h1>Einkaufsliste schreiben</h1>
<!--/*@thymesVar id="einkaufsliste" type="htw.berlin.wgverwaltung.Einkaufsliste"*/-->
<form action ="#" th:action="@{/einkaufsliste}" th:object="${einkaufsliste}" method="post">
  <p>Name:
  <input type="text" th:field="*{productname}"/></p>
  <p><input type="submit" value="submit"/></p>
</form>
</body>
</html>