<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{css/stylesheet.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="#" th:src="@{/js/vue-pinnwand.js}" defer></script>
    <script type="module" src="#" th:src="@{/js/vue-einkaufsliste.js}" defer></script>
    <script type="module" src="#" th:src="@{/js/vue-main.js}" defer></script>
    <title>Startseite</title>
</head>
<body>

<div class="wrapper">

    <div class="navbar">
        <div class="home">
        <a class="active"><i class="fa fa-home"></i></a>
        </div>
        <div class="page">
        <a>WG-Verwaltung</a>
        </div>
        <div>
            <form id="logout" method="POST"  th:action="@{/logout}">
                <button type="submit" class="fa fa-sign-out"></button>
            </form>
        </div>
    </div>
    <br/>
    <br/>
    <div id="app">
        <div class="app-wrapper">
            <div class="wrapper-einkaufsliste">
        <vue-einkaufsliste></vue-einkaufsliste>
            </div>
            <div class="wrapper-pinnwand">
        <vue-pinnwand></vue-pinnwand>
            </div>
        </div>
    </div>




</div>
</body>
</html>