<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>

  <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Startseite</title>
  <script type="text/javascript" src="dyn.js"></script>
</head>
<body>
<div class="wrapper">

    <div class="navbar">
        <a class="active" href="#"><i class="fa fa-home"></i></a>
        <a href="/createProdukt"><i class="fa fa-shopping-cart"></i> Einkaufsliste</a>
        <a href="#"><i class="fa fa-tasks"> Putzplan</i></a>
        <a href="#"><i class="fa fa-user-circle"></i>   Login</a>
    </div>

</body>
</html>